<form class="grid gap-4">
  <div class="grid gap-3">
    @for(group of items.controls; track group; let i = $index) {
    <div [formGroup]="group" class="grid grid-cols-12 gap-2 items-start">
      <mat-form-field class="col-span-6" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="col-span-3" appearance="outline">
        <mat-label>Qty</mat-label>
        <input matInput type="number" min="0" step="0.5" formControlName="quantity" />
      </mat-form-field>
      <app-select-field class="col-span-2" label="Unit" [options]="unitOptions" formControlName="unit">
      </app-select-field>
      <button mat-icon-button class="col-span-1 text-red-600" type="button" aria-label="Remove"
        (click)="remove.emit(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    }
  </div>

  <div class="flex justify-end">
    <button mat-stroked-button color="primary" type="button" (click)="add.emit()">
      <mat-icon class="mr-1">add</mat-icon> Add ingredient
    </button>
  </div>
</form>