.sidenav {
  background-color: var(--color-surface-container-light);
  width: fit-content;
  padding: 16px;
}

.tool-bar {
    background-color: var(--color-primary-light);
    color: var(--color-on-primary-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: start;
    align-items: center;
    padding: 8px;
    width: 100%;
}