/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer utilities {
	.animate-fade-in {
		animation: fadeIn 0.7s cubic-bezier(0.4, 0, 0.2, 1);
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(30px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

::ng-deep .custom-scrollbar {
      /* Webkit browsers (Chrome, Safari, Edge) */
      &::-webkit-scrollbar {
        width: 8px;
      }
      
      &::-webkit-scrollbar-track {
        background: var(--color-surface-container-light);
      }
      
      &::-webkit-scrollbar-thumb {
        background: var(--color-primary-light);
        border-radius: 4px;
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary-container-light);
      }

      /* Firefox */
      scrollbar-width: thin;
      scrollbar-color: var(--color-primary-light) var(--color-surface-container-light);
    }

@theme {
	--color-primary-light: #8F4C35;
	--color-on-primary-light: #FFFFFF;
	--color-primary-container-light: #FFDBD0;
	--color-on-primary-container-light: #723520;
	--color-secondary-light: #77574D;
	--color-on-secondary-light: #FFFFFF;
	--color-secondary-container-light: #FFDBD0;
	--color-on-secondary-container-light: #5D4036;
	--color-tertiary-light: #6A5E2F;
	--color-on-tertiary-light: #FFFFFF;
	--color-tertiary-container-light: #F3E2A7;
	--color-on-tertiary-container-light: #51461A;
	--color-error-light: #BA1A1A;
	--color-on-error-light: #FFFFFF;
	--color-error-container-light: #FFDAD6;
	--color-on-error-container-light: #93000A;
	--color-background-light: #FFF8F6;
	--color-on-background-light: #231917;
	--color-surface-light: #FFF8F6;
	--color-on-surface-light: #231917;
	--color-surface-variant-light: #F5DED7;
	--color-on-surface-variant-light: #53433F;
	--color-outline-light: #85736E;
	--color-outline-variant-light: #D8C2BB;
	--color-scrim-light: #000000;
	--color-inverse-surface-light: #392E2B;
	--color-inverse-on-surface-light: #FFEDE8;
	--color-inverse-primary-light: #FFB59D;
	--color-surface-dim-light: #E8D6D1;
	--color-surface-bright-light: #FFF8F6;
	--color-surface-container-lowest-light: #FFFFFF;
	--color-surface-container-low-light: #FFF1ED;
	--color-surface-container-light: #FCEAE5;
	--color-surface-container-high-light: #F7E4DF;
	--color-surface-container-highest-light: #F1DFDA;
	--color-primary-dark: #FFB59D;
	--color-on-primary-dark: #55200C;
	--color-primary-container-dark: #723520;
	--color-on-primary-container-dark: #FFDBD0;
	--color-secondary-dark: #E7BDB0;
	--color-on-secondary-dark: #442A21;
	--color-secondary-container-dark: #5D4036;
	--color-on-secondary-container-dark: #FFDBD0;
	--color-tertiary-dark: #D6C68D;
	--color-on-tertiary-dark: #393005;
	--color-tertiary-container-dark: #51461A;
	--color-on-tertiary-container-dark: #F3E2A7;
	--color-error-dark: #FFB4AB;
	--color-on-error-dark: #690005;
	--color-error-container-dark: #93000A;
	--color-on-error-container-dark: #FFDAD6;
	--color-background-dark: #1A110F;
	--color-on-background-dark: #F1DFDA;
	--color-surface-dark: #1A110F;
	--color-on-surface-dark: #F1DFDA;
	--color-surface-variant-dark: #53433F;
	--color-on-surface-variant-dark: #D8C2BB;
	--color-outline-dark: #A08D87;
	--color-outline-variant-dark: #53433F;
	--color-scrim-dark: #000000;
	--color-inverse-surface-dark: #F1DFDA;
	--color-inverse-on-surface-dark: #392E2B;
	--color-inverse-primary-dark: #8F4C35;
	--color-surface-dim-dark: #1A110F;
	--color-surface-bright-dark: #423733;
	--color-surface-container-lowest-dark: #140C0A;
	--color-surface-container-low-dark: #231917;
	--color-surface-container-dark: #271D1B;
	--color-surface-container-high-dark: #322825;
	--color-surface-container-highest-dark: #3D322F;
}

.mdc-notched-outline__notch
{
  border-right: none;
}