<div class="relative min-h-fulll mat-elevation-z8">
  @if(state?.isLoading) {
  <div class="absolute top-0 left-0 right-0 bottom-14 bg-black/15 z-10 flex flex-col items-center justify-center">
    <app-spinner class="h-8" [customClass]="'fill-on-primary-light'"></app-spinner>
  </div>
  }

  <div class="w-full flex gap-2 items-center">
    <mat-form-field class="w-0 min-w-0 grow">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search with a keyword" #input>
      <mat-icon matSuffix (click)="refreshList(input)">clear</mat-icon>
    </mat-form-field>
    <mat-button-toggle-group [value]="state?.showUnapprovedOnly" (change)="togglePendingFilter($event.value)"
      class="!text-gray-700 !border !rounded-md [&_.mat-button-toggle-checked]:!bg-primary-light [&_.mat-button-toggle-checked]:!text-on-primary-light">
      <mat-button-toggle [value]="false">
        All Recipes
      </mat-button-toggle>
      <mat-button-toggle [value]="true">
        Pending
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button color="primary" class="bg-inverse-primary-light
       rounded-xl flex items-center justify-center p-2 text-primary-light" (click)="create.emit()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="relative max-h-[400px] overflow-auto">
    <table mat-table [dataSource]="dataSource" class="w-full">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0 z-[5] !bg-white">Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="mealType">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0 z-[5] !bg-white">Meal type</th>
        <td mat-cell *matCellDef="let element">{{element.mealType}}</td>
      </ng-container>

      <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0 z-[5] !bg-white">Origin</th>
        <td mat-cell *matCellDef="let element">{{element.country}}</td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0 z-[5] !bg-white">Author name</th>
        <td mat-cell *matCellDef="let element">{{element.author.name}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0 z-[5] !bg-white"></th>
        <td mat-cell *matCellDef="let element">
          <div class="flex gap-2 text-primary-light">
            <button mat-icon-button (click)="revealRecipe(element)">
              <mat-icon>visibility</mat-icon>
            </button>
            @if(element.canEdit) {
            <button mat-icon-button (click)="editRecipe(element)">
              <mat-icon>edit</mat-icon>
            </button>
            }
            <button mat-icon-button class="!text-red-400" (click)="deleteRecipe(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
</div>