<mat-card class="mb-4 !shadow-sm !rounded-md min-h-1.5 flex flex-col"
    (click)="onCardClick()" >
    <mat-card-header>
        <mat-card-title class="line-clamp-1 !font-bold">{{ feed.recipe.name }}</mat-card-title>
        <mat-card-subtitle [ngClass]="'text-gray-500'">By {{ feed.recipe.author.name }}</mat-card-subtitle>
    </mat-card-header>

   <div class="p-4 flex-shrink-0">
    <img mat-card-image [src]="feed.recipe.imageUrl" alt="{{ feed.recipe.name }}"
    class="!rounded-md aspect-square object-cover h-48 w-full" />
   </div>

    <mat-card-content class="flex-grow overflow-hidden !px-2">
        <p class="line-clamp-3 text-gray-400">{{ feed.recipe.description }}</p>
    </mat-card-content>

    <mat-card-actions class="flex items-center gap-4 flex-shrink-0">
        <span class="text-sm text-gray-500">Likes: {{ feed.likeCount }}</span>
        <span class="text-sm text-gray-500">Comments: {{ feed.commentCount }}</span>
    </mat-card-actions>
</mat-card>